*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
}

main {
    flex-grow: 1;
    width: 100%;
    /* top margin = height of fixed header */
    margin: 4.9125rem 0 1rem 0;
}

footer {
    font-size: small;
    text-align: center;
}

p {
    margin: 0.375rem 0;
}

label {
    font-weight: bold;
}

.errorMsg {
    margin: 0.375rem 1rem 0 1rem;
    color: red;
    text-align: center;
}

.flexrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-bottom: 0;
}

/* Only applicable to header HTML */

h1 {
    margin: 1rem 0 0.5rem 0;
    font-size: x-large;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 1rem;
}

a {
    padding: 0.3125rem 0.25rem 0.0625rem 0.25rem;
    border-radius: 0.25rem;
    color: white;
    font-size: small;
    line-height: 1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Only applicable to index/retired HTML */

.filters {
    display: flex;
    z-index: 100;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem 0.125rem 1rem;
    gap: 0.25rem 1rem;
    background-color: white;
    font-size: smaller;
}

.ridersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.riderContainer {
    display: flex;
    flex-direction: column;
    width: 19rem;
    margin: 1rem;
    padding: 1.25rem;
    border: 0.0625rem solid black;
    border-radius: 1rem;
}

h3 {
    margin: 0 0 0.375rem 0;
    font-size: larger;
    text-align: center;
}

img {
    margin: 0.375rem auto;
}

.riderButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.riderButton {
    font-size: small;
}

.noRidersMsg {
    margin-top: 1rem;
}

/* Only applicable to addRider/editRider HTML: */

.riderFormContainer {
    width: 19.5rem;
    margin: 0 auto;
}

h2 {
    margin: 1rem 0;
    font-size: large;
}

.riderStats {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.875rem 1.25rem;
    border: 0.0625rem solid black;
    border-radius: 1rem;
}

.statRow {
    margin: 0.375rem 0;
}

.statRow.nameRow,
.riderFormSubmit {
    text-align: center;
}

.statRow.imgRow {
    margin: 0.375rem auto;
}

input[type='text'] {
    width: 12rem;
}

.imgInput {
    /* width and height = 95% of eventual image size */
    width: 7.0656rem;
    height: 10.6875rem;
    resize: none;
}

input[type='number'] {
    width: 2.75rem;
}

.validationErrorMsg {
    color: red;
}

.hidden {
    display: none;
}
